<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.yourhead.stacks.listItem</string>
	<key>title</key>
	<string>Image Fun Items</string>
	<key>subtitle</key>
	<string>Demo Using Inline Images</string>
	<key>templates</key>
	<array>
		<dict>
			<key>type</key>
			<string>html</string>
			<key>filename</key>
			<string>each.html</string>
		</dict>
	</array>
	<key>icon</key>
	<string>icon</string>
	<key>tags</key>
	<array>
		<string>Demo</string>
		<string>Images</string>
	</array>
	<key>inline</key>
	<true/>
	<key>hidden</key>
	<true/>
	<key>childOf</key>
	<array>
		<string>com.yourhead.stacks.list</string>
	</array>
	<key>customItems</key>
	<array>
		<dict>
			<key>id</key>
			<string>thumbnail</string>
			<key>type</key>
			<string>imageTransform</string>
			<key>imageID</key>
			<string>%0%</string>
			<key>imageScaleMode</key>
			<integer>1</integer>
			<key>imageMaxWidth</key>
			<integer>100</integer>
			<key>imageMaxWidthEnable</key>
			<true/>
			<key>imageMaxHeight</key>
			<integer>100</integer>
			<key>imageMaxHeightEnable</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>large</string>
			<key>type</key>
			<string>imageTransform</string>
			<key>imageID</key>
			<string>%0%</string>
			<key>imageScaleMode</key>
			<integer>1</integer>
			<key>imageMaxWidth</key>
			<integer>300</integer>
			<key>imageMaxWidthEnable</key>
			<true/>
			<key>imageMaxHeight</key>
			<integer>300</integer>
			<key>imageMaxHeightEnable</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>large2x</string>
			<key>type</key>
			<string>imageTransform</string>
			<key>imageID</key>
			<string>%0%</string>
			<key>imageScaleMode</key>
			<integer>1</integer>
			<key>imageMaxWidth</key>
			<integer>600</integer>
			<key>imageMaxWidthEnable</key>
			<true/>
			<key>imageMaxHeight</key>
			<integer>600</integer>
			<key>imageMaxHeightEnable</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
